@using Hviktor.Abstractions.Enums.Attributes
@using Hviktor.Components.Input
@using Hviktor.Components.Field
@using Hviktor.Components.Typography

<div class="flex flex-col gap-6">
    <div class="flex flex-col gap-2">
        <Paragraph data-variant="short" class="font-semibold">@Localizer.GetValue("Input_StatesTitle")</Paragraph>
        <div class="flex gap-4 flex-wrap items-end">
            <Field>
                <Label>@Localizer.GetValue("Input_Default")</Label>
                <Input type="@InputType.Text" placeholder="@Localizer.GetValue("Input_DefaultPlaceholder")"/>
            </Field>
            <Field>
                <Label>@Localizer.GetValue("Input_Disabled")</Label>
                <Input type="@InputType.Text" disabled placeholder="@Localizer.GetValue("Input_DisabledPlaceholder")"/>
            </Field>
            <Field>
                <Label>@Localizer.GetValue("Input_ReadOnly")</Label>
                <Input type="@InputType.Text" readonly value="@Localizer.GetValue("Input_ReadOnlyValue")"/>
            </Field>
        </div>
    </div>
</div>
