@using Hviktor.Abstractions.Enums.Attributes
@using Hviktor.Components.Button
@using Hviktor.Components.Icon
@using Hviktor.Components.Link
@using Hviktor.Components.Typography
@using Hviktor.Icons.Types

<header id="header">
    <NavigationLink asChild href="/" style="text-decoration: none;">
        <div class="flex items-center gap-4">
            <Icon id="header-icon" Definition="@IconSet.FileCode" size="lg" aria-hidden="true"/>
            <Heading level="2">Hviktor Tests</Heading>
        </div>
    </NavigationLink>
    <nav class="header-menu-bar">
        <button class="header-menu-bar-toggle ds-button"
                onclick="document.getElementById('header-menu-button-toggle-menu').classList.add('open')"
                id="header-bars" aria-label="Åpne meny"
                data-icon="" data-variant="tertiary" data-color="neutral">
            <svg aria-hidden="true" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M2.75 6a.75.75 0 0 1 .75-.75h17a.75.75 0 0 1 0 1.5h-17A.75.75 0 0 1 2.75 6Zm0 6a.75.75 0 0 1 .75-.75h17a.75.75 0 0 1 0 1.5h-17a.75.75 0 0 1-.75-.75Zm.75 5.25a.75.75 0 0 0 0 1.5h17a.75.75 0 0 0 0-1.5h-17Z"
                      fill="currentColor"></path>
            </svg>
        </button>
        <button class="header-menu-bar-toggle ds-button header-menu-bar-toggle--hidden"
                onclick="document.getElementById('header-menu-button-toggle-menu').classList.remove('open')"
                id="header-close"
                aria-label="Lukk meny" data-icon="" data-variant="tertiary" data-color="neutral">
            <svg aria-hidden="true" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M6.53 5.47a.75.75 0 0 0-1.06 1.06L10.94 12l-5.47 5.47a.75.75 0 1 0 1.06 1.06L12 13.06l5.47 5.47a.75.75 0 1 0 1.06-1.06L13.06 12l5.47-5.47a.75.75 0 0 0-1.06-1.06L12 10.94 6.53 5.47Z"
                      fill="currentColor"></path>
            </svg>
        </button>

        <Button @onclick="@(async () => await ToggleColorScheme())" icon
                color="@Color.Neutral"
                Variant="@Variant.Tertiary"
                aria-label="Skift mellom lys og mørk modus">
            <Icon Definition="@(GetIcon())"/>
        </Button>
    </nav>

</header>
