@using Hviktor.Components.Typography

<div class="flex flex-col gap-4">
    <Heading level="1">@Localizer.GetValue("Typography_HeadingLevel") 1</Heading>
    <Heading level="2">@Localizer.GetValue("Typography_HeadingLevel") 2</Heading>
    <Heading level="3">@Localizer.GetValue("Typography_HeadingLevel") 3</Heading>
    <Heading level="4">@Localizer.GetValue("Typography_HeadingLevel") 4</Heading>
    <Paragraph>@Localizer.GetValue("Typography_Paragraph")</Paragraph>
    <Label>@Localizer.GetValue("Typography_Label")</Label>
</div>
