@page "/component/compliance/chip/color"
@using Hviktor.Abstractions.Enums.Attributes

<main data-testid="compliance-container">
    <section aria-label="Accent color">
        <Chip.Button Color="@Color.Accent" data-testid="accent">Accent</Chip.Button>
    </section>

    <section aria-label="Neutral color">
        <Chip.Button Color="@Color.Neutral" data-testid="neutral">Neutral</Chip.Button>
    </section>

    <section aria-label="Brand1 color">
        <Chip.Button Color="@Color.Brand1" data-testid="brand1">Brand1</Chip.Button>
    </section>

    <section aria-label="Brand2 color">
        <Chip.Button Color="@Color.Brand2" data-testid="brand2">Brand2</Chip.Button>
    </section>

    <section aria-label="Brand3 color">
        <Chip.Button Color="@Color.Brand3" data-testid="brand3">Brand3</Chip.Button>
    </section>

    <section aria-label="Success color">
        <Chip.Button Color="@Color.Success" data-testid="success">Success</Chip.Button>
    </section>

    <section aria-label="Danger color">
        <Chip.Button Color="@Color.Danger" data-testid="danger">Danger</Chip.Button>
    </section>

    <section aria-label="Info color">
        <Chip.Button Color="@Color.Info" data-testid="info">Info</Chip.Button>
    </section>

    <section aria-label="Warning color">
        <Chip.Button Color="@Color.Warning" data-testid="warning">Warning</Chip.Button>
    </section>
</main>
