@using Hviktor.Abstractions.Enums.Attributes
@using Hviktor.Components.Checkbox
@using Hviktor.Components.Divider
@using Hviktor.Components.Typography

<Checkbox Id="example-checkbox-1" Label="@Localizer.GetValue("Checkbox_DefaultLabel")"
          Description="@Localizer.GetValue("Checkbox_DefaultLabel")"/>
<Checkbox Id="example-checkbox-2" Checked="CheckboxValue"
          @onchange="@((args) => CheckboxValue = args.Value is true)"
          Label="@Localizer.GetValue("Checkbox_ControlledLabel")"
          Description="@($"{Localizer.GetValue("Checkbox_Checked")}: {CheckboxValue}")"/>

<Divider class="my-2"/>

<Paragraph size="@Size.Small" class="font-medium">@Localizer.GetValue("Checkbox_IndeterminateTitle")</Paragraph>
<Checkbox Id="example-checkbox-parent" allowIndeterminate
          Checked="IndeterminateCheckboxValue"
          @onchange="OnIndeterminateCheckboxChanged"
          Label="@Localizer.GetValue("Checkbox_SelectAll")"
          Description="@Localizer.GetValue("Checkbox_SelectAll")"/>
<div class="ml-6 flex flex-col gap-2">
    <Checkbox Id="example-checkbox-option1"
              @bind-Checked="checkboxOption1"
              Label="@Localizer.GetValue("Checkbox_Option1")"
              Description="@Localizer.GetValue("Checkbox_Option1")"/>
    <Checkbox Id="example-checkbox-option2"
              @bind-Checked="checkboxOption2"
              Label="@Localizer.GetValue("Checkbox_Option2")"
              Description="@Localizer.GetValue("Checkbox_Option2")"/>
    <Checkbox Id="example-checkbox-option3"
              @bind-Checked="checkboxOption3"
              Label="@Localizer.GetValue("Checkbox_Option3")"
              Description="@Localizer.GetValue("Checkbox_Option3")"/>
</div>
